.app-bar {
  display: flex;
  background-color: rgba(46, 108, 54, 1);
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.app-bar-icons {
  width: 19%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.app-bar-icons-web {
  padding-right: 0.5vw;
}

.app-bar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
  font-family: Geologica;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
}

.sub-title {
  color: white;
  font-family: Geologica;
  font-style: normal;
  font-weight: 100;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 0.4em;
}
