.app-bar {
  display: flex;
  background-color: rgba(46, 108, 54, 1);
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.app-bar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
  font-family: Geologica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 11px;
  margin-bottom: 0.4em;
}

.sub-title {
  color: white;
  font-family: Geologica;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0.4em;
}
