.separator {
  color: rgba(46, 108, 54, 1);
  text-align: center;
  font-family: Geologica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
