@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: normal;
  src: url("https://fonts.googleapis.com/css2?family=Geologica&display=swap") format("truetype");
}

@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: bold;
  src: url("https://fonts.googleapis.com/css2?family=Geologica:wght@700&display=swap") format("truetype");
}
