.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 97%;
  color: rgba(46, 108, 54, 1);
  border: 2px rgba(46, 108, 54, 1) solid;
  border-radius: 1rem;

  input {
    visibility: hidden;
  }
}

.image-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images-container-hide {
  visibility: hidden;
}

.frame-image {
  display: block;
  width: 98%;
  border-radius: 1em;
  margin-top: 2px;
}

.text-label {
  text-align: center;
  font-family: Geologica;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
