.image-card-component {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}

.image-container-web {
  width: 100%;
  height: 90vh;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  width: 95%;
  color: rgba(46, 108, 54, 1);
  border: 2px rgba(46, 108, 54, 1) solid;
  border-radius: 1rem;
  padding-top: 1rem;

  input {
    visibility: hidden;
  }
}

.image-card-web {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 49%;
  margin-left: 1%;
  color: rgba(46, 108, 54, 1);
  border: 2px rgba(46, 108, 54, 1) solid;
  border-radius: 1rem;
  overflow-y: auto;
  input {
    visibility: hidden;
  }
}

.image-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.images-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images-container-web {
  position: relative;
  width: 100%;
}

.images-container-hide {
  visibility: hidden;
}

.frame-image {
  display: block;
  width: 98%;
  border-radius: 1em;
  margin-top: 2px;
}

.text-label {
  text-align: center;
  font-family: Geologica;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.image-card-web::-webkit-scrollbar {
  width: 0.25rem;
}

.image-card-web::-webkit-scrollbar-track {
  margin: 10px 0;
}

.image-card-web::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 100px grey;
  border-radius: 10rem;
}

.web-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
