.refresh-icon {
  margin-top: 4px;

  button {
    background-color: rgba(46, 108, 54, 1);
    border: 0;
    color: white;
    margin-right: 10px;
  }

  #refresh-button {
    font-size: xx-large;
  }
}
