body {
  margin: 0;
  height: 100vh;
  width: 100%;
}

.image-container {
  height: 50%;
  margin: 2px 4px 5px 2px;
}

.attendance-list {
  padding-left: 10%;
  display: block;
  font-family: Geologica;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}
